*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#bg{
    height: 100%;
    width: 100%;
    background: url("/bg_image.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: system-ui;
    font-weight: 700;
    font-size: 150px;
    color: white;
    mix-blend-mode: difference;
}

#btn {
    padding: 15px 20px;
    font-family: system-ui;
    font-size: 1.8rem;
    background: radial-gradient(black, purple, purple, rgb(31, 29, 29), purple, purple, black);
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 700;
}